body {
	background-image: url("https://craneww.com/site/assets/files/3608/gettyimages-1359398162.1200x800.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 100%;
	max-width: 100%;
	font-family: 'Mukta Mahee', sans-serif;
	color: #ffffff;
  }
  .btn {
	background: #ff0000;
	background-image: -webkit-linear-gradient(top, #ff0000, #ff0000);
	background-image: -moz-linear-gradient(top, #ff0000, #ff0000);
	background-image: -ms-linear-gradient(top, #ff0000, #ff0000);
	background-image: -o-linear-gradient(top, #ff0000, #ff0000);
	background-image: linear-gradient(to bottom, #ff0000, #ff0000);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
  }
  
  .btn:hover {
	background: #ebc51e;
	background-image: -webkit-linear-gradient(top, #ebc51e, #ebc51e);
	background-image: -moz-linear-gradient(top, #ebc51e, #ebc51e);
	background-image: -ms-linear-gradient(top, #ebc51e, #ebc51e);
	background-image: -o-linear-gradient(top, #ebc51e, #ebc51e);
	background-image: linear-gradient(to bottom, #ebc51e, #ebc51e);
	text-decoration: none;
  }
  div {
	margin: 100px;
  }

  h1{
	text-size-adjust: 100px;
  }

  #vn{
	font-family: Arial, Helvetica, sans-serif;
  }